<footer class="bg-primary py-3 text-light">
  <div class="text-center">
    <span class="text-nowrap">{{site.name}}</span> &nbsp;|&nbsp; <span class="text-nowrap">{{contact.city}}, {{contact.state}}</span> &nbsp;|&nbsp; <span class="text-nowrap">{{contact.phone | phoneFormat}}</span>
  </div>
</footer>
