<h1 class="text-shadow mb-4">Available Puppies</h1>

<h4 class="text-shadow">
  For day to day updates check out our <a href="{{ contact.facebook }}">facebook page</a>.
  Our puppies are chosen around 6.5 - 7 weeks of age after temperament is evaluated in order of deposits placed.
  Deposits placed for a Goldendoodle are placed on a master deposit list. 
</h4>
