{% from "macros/slideshow.njk" import slideshow %}

<h1 class="text-shadow mb-4">Available Puppies</h1>

<h4 class="text-shadow mb-3">
  For day to day updates check out our <a href="{{ contact.facebook }}">facebook page</a>.
  All Doodle puppies are $2500 plus 8.25% sales tax, regardless of size, color or gender.
  Our puppies are chosen around 6.5 - 7 weeks of age in the order of deposits placed.
  Deposits placed for a Goldendoodle are put on a master deposit list. 
</h4>

{% for litter in dogs.litters%}
  <div class="tile mb-4 px-3 py-3">
    <h1>{{litter.breed}}</h1>

    {% for update in litter.updates %}
      <h5 class="my-4">{{update}}</h5>
    {% endfor %}

    {% if litter.canApply %}
      <div class="text-center">
        <a href="{{site.puppyApplicationUrl}}" class="btn btn-lg btn-light mb-3 text-primary fw-bold">Apply For a Puppy</a>
      </div>
    {% endif %}

    <div class="row gx-3">
      {% for puppy in litter.puppies %}
        <div class="col-lg-4 col-md-4 col-6 mb-3">
          {% for image in puppy.images %}
            <div class="aspect-1-1-container">
              <div class="absolute-fill">
                <img src="/_assets/images/{{ image }}" class="h-100 w-100" style="object-fit: cover;" alt="image of {{puppy.name}}">
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h2>Mother</h2>
        <div class="row">
          <div class="col-sm-6">
            {{slideshow(id=litter.mother.name, images=litter.mother.images, showThumbnails=false)}}
          </div>
          <div class="col-sm-6">
            <h3>{{litter.mother.name}}</h3>
            <h5 class="mb-4">{{litter.mother.color}}
              {{litter.mother.breed}}</h5>
            {% for bio in litter.mother.biographies %}
              <p>{{bio}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Father</h2>
        <div class="row">
          <div class="col-sm-6">
            {{slideshow(id=litter.father.name, images=litter.father.images, showThumbnails=false)}}
          </div>
          <div class="col-sm-6">
            <h3>{{litter.father.name}}</h3>
            <h5 class="mb-4">{{litter.father.color}}
              {{litter.father.breed}}</h5>
            {% for bio in litter.father.biographies %}
              <p>{{bio}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="offset-md-3 col-md-6">
      {{slideshow(id=litter.name, images=litter.images, showThumbnails=true)}}
      </div>
    </div>
  </div>
{% endfor %}