{% from "macros/text-input.njk" import textInput %}

<div style="max-width: 55rem" class="mx-auto">
  <h1 class="text-shadow mb-4">Contact Us</h1>

  <h4 class="text-shadow">
    <a class="text-white text-shadow" href="mailto:belovedtexasdoodles@gmail.com">belovedtexasdoodles@gmail.com</a>
  </h4>
  <h4 class="mb-4">
    <a class="text-white text-shadow" href="tel:+19727425215">972-742-5215</a>
  </h4>
  <div class="tile mb-4">
    <h6 class="mb-3">Interested in a Puppy? Please use our <a href="{{site.puppyApplicationUrl}}" class="btn btn-sm btn-light text-primary fw-bolder">Puppy Application</a> instead</h6>
    <form action="https://api.staticforms.xyz/submit" method="post" class="text-dark">
      <input type="hidden" name="accessKey" value="{{contact.emailKey}}">
      <input type="hidden" name="redirectTo" value="{{site.baseUrl}}/contact-us/success">
      <input type="text" name="honeypot" style="display: none;">
      <div class="row">
        {{textInput(6, 'first-name', 'First Name', 'text')}}
        {{textInput(6, 'last-name', 'Last Name', 'text')}}
        {{textInput(12, 'city-state', 'City & State', 'text')}}
        {{textInput(12, 'email', 'Email', 'email')}}
        {{textInput(12, 'Phone', 'Phone', 'tel')}}
        {{textInput(12, 'message', 'Message', 'textarea')}}
      </div>
      <div class="text-center py-3">
        <input class="btn btn-lg btn-light text-primary fw-bold" type="submit">
      </div>
    </form>
  </div>
</div>