{% from "macros/slideshow.njk" import slideshow %}

<h1 class="text-shadow mb-4">Our Dogs</h1>

<h4 class="text-shadow mb-4">
  Here at {{site.name}}, we take great pride in knowing that we stand apart in not only our health testing standards, but also in how our parent dogs are raised.
</h4>

{% for adult in dogs.adults%}
  <div class="tile mb-4">
    <h1>{{adult.name}}</h1>
    <h4>{{adult.color}}
      {{adult.breed}}</h4>
    <div class="row">
      <div class="col-md-5">
        {{ slideshow(id=adult.name, images = adult.images) }}
      </div>
      <div class="col-md-7">
        {% for bio in adult.biographies %}
          <p class="mb-3 mt-2 mt-md-0">{{bio}}</p>
        {% endfor %}

        {% if adult.dnaTable %}
        <h5>DNA Test Results</h5>
        <table class="table table-sm text-white">
          {% for row in adult.dnaTable %}
        <tr>
          {% for cell in row %}
          <td>{{cell}}</td>
                  {% endfor %}
        </tr>
        {% endfor %}
        
      </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}